/Simple-BlogApi/bin
/Simple-BlogApi/logs
/Simple-BlogApi/Migrations
/Simple-BlogApi/obj

/Simple-BlogUI/bin
/Simple-BlogUI/logs
/Simple-BlogUI/Migrations
/Simple-BlogUI/obj
.vs
/Simple-BlogApi/Simple-BlogApi.csproj.user
